body {
    background-image: url("../Pictures/courses-wallpaper.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    position: relative;
}

.header{
    text-align: center;
    font-size: 25px;
}

.info{
    font-size: 20px;
    font-style: oblique;
}

em{
    color: red;
}

.container {
    display: flex;
    padding: 2em;
}

.box {
    width: 200px;
    height: 200px;
    background-image: url("../Pictures/courses-wallpaper.jpg");
    border: 5px solid darkgreen;
    border-radius: 10px;
    text-align: center;
    font-style: italic;
    font-size: 22px;
    line-height: 200px;
    color: #fff;
    font-family: Arial, sans-serif;
    margin-right: 50px;
}